body{
    background-color: pink;
    background-image: linear-gradient(#e0eeee,#fc67fa,#ffcccc);
    width: 1345px;
    height:115opx ;
    
}
.Image img{
    height: 200px;
    width: 200px;
    display: block;
    margin-top: 50;
    margin-left: 550;
    margin-right: 0;
    margin-bottom: 10;
    border-radius: 50%;
}
h1
{
    
    font-size: 60px;
    margin-left: 250px;
    font-family: 'Castellar';

}
.head {
    width:900px; 
    height: 33px;
    text-align: center;
    margin-left: 250px;
    text-decoration:none;
    font-size: 30px;
    border-style:solid;
    border-color:black;
    background-color: #ffcccc;
 background-image: linear-gradient(to bottom right,#fc67fa,#ffcccc);
    font-family: 'Colonna MT';
}
.head1 {
    width:900px; 
    height: 33px;
    text-align: center;
    margin-left: 250px;
    font-size: 30px;
    border-style:solid;
    border-color:black;
    background-image: linear-gradient(to bottom right,#6190E8,#a78fe8);
    font-family: 'Colonna MT';
    }
    h5{
        float:right;
        margin-top:0px;
        margin-bottom:400px;

    }
    h6{
     
        margin-top: 0px;
    }
    li {
        font-size: 17px;
        border-style:solid;
        border-color:#939492;
        background-image: linear-gradient(to bottom right,#85fc85fd,#96c93d);
        width:800px; 
        height: 30px;
        text-align: center;
        margin-left: 250px;
        font-family:'Algerian';
        }
        #name {
            font-family: Sacramento;
            float: right;
            margin-top: 10px;
            margin-right: 4%;
          border-style:outset;
          border-color:red;
          font-family: 'Elephant';
          }
          #name1 {
            font-family: Sacramento;
            float: right;
            margin-top: 10px;
            margin-right: 4%;
          border-style:outset;
          border-color:rgb(180, 10, 231);
          font-family: 'Elephant';
          }
          h3{
            width:800px; 
            height: 30px;
            font-size: 20px;
            border-style:solid;
            border-color:#ffcccc;
            background-image: linear-gradient(to bottom right,yellow,violet);
            font-family: cursive;
            margin-left: 45px;
          }
          